@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;

}


form {
    width: 500px;
    margin: auto;
}

input, textarea{
    font-size: 13pt;
    font-weight: normal;
    font-family: sans-serif;

}

textarea{
    background-color: transparent;
    margin-top: 10px; /* Ajusta o espaçamento superior */
 
}

input:hover, textarea:hover{
    background-color: #dddddd;
    cursor: pointer;
}

legend{
    font-size: 15pt;
    font-weight: bolder;
    color: black;
    font-family: sans-serif;
}

fieldset{
    border-color: #cecece;
    margin: 20px;
    border-radius: 20px;
}

fieldset#sexo{
    width: 130px;

}

fieldset#usuario{
    background: url(/img/adicionar-usuario.png) no-repeat ;
    background-size: 10% ;
    background-position: right bottom; /* Posiciona a imagem no canto inferior direito */
    background-origin: content-box; /* Garante que a imagem permaneça dentro do conteúdo do fieldset */   
}

fieldset#endereco{
    background: url(img/localizacao.png) no-repeat ;
    background-size: 10% ;
    background-position: right bottom; /* Posiciona a imagem no canto inferior direito */
    background-origin: content-box; /* Garante que a imagem permaneça dentro do conteúdo do fieldset */   
}

fieldset#mensagem{
    background: url(img/bate-papo.png) no-repeat ;
    background-size: 10% ;
    background-position: right bottom; /* Posiciona a imagem no canto inferior direito */
    background-origin: content-box; /* Garante que a imagem permaneça dentro do conteúdo do fieldset */   
}

fieldset#pedido{
    background: url(img/oculos.jpg) no-repeat ;
    background-size: 10% ;
    background-position: right bottom; /* Posiciona a imagem no canto inferior direito */
    background-origin: content-box; /* Garante que a imagem permaneça dentro do conteúdo do fieldset */   
}

#botao{
    width: 150px; /* Defina a largura desejada */
    height: 50px; /* Defina a altura desejada */

}